<style>
	.pfd_main_container{
		width: 100%;
	}
	.top_bar{

	}
	.top_bar .logo{
		height: 30px;
	}
</style>
<div class="pfd_main_container">
	<div class="top_bar">
		<img src="/html/images/logo.png" alt="logo image" class="logo">
		<p>
			Dear Madhav Sharma, Below is your redeem instruction. Please use this voucher to redeem your Offer.
		</p>
	</div>
</div>