%form{action: "", method: "get", id: "get-quote-form"}
	%label Quote Request Title
	%input{type: "text", name: "quote_title"}

	%label Detailed description of your quote request.
	%textarea{name: "quote_description", rows: 4, cols: 10}