<div class="row">
  <% if @category_menu_enabled %>
    <div class="col-3 visible-tablet">
      <% if @show_categories %>
        <div class="row">
          <div class="col-12">
            <%= link_to t("homepage.filters.all_categories"), search_path(category: "all"), :class => "home-categories-main custom-categories-btn button" %>
            <% @main_categories.each do |category| %>
              <%= link_to category.display_name(I18n.locale), search_path(category: category), :class => "home-categories-main caps_one", :data => {category: category.id, url: search_path({category: category})} %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>