-#MailCarrier.deliver_now(TransactionMailer.avon_voucher("abc@example_user.com"))
%table{:style => "text-align: left; width: 750px; border: 2px solid #e3e3e3; margin-top: 10px; padding: 0px; font-family: 'Noto Sans KR', sans-serif;"}
  %tbody{:style => ""}
    %tr{:style => "height: 272px; vertical-align: top;"}
      %td{:style => "padding: 15px; width: 68.66%;"}
        %p{:style => "margin: 0; font-size: 13px;"}
          Desert Herbal Alchemy
        %p{:style => "font-size: 17px; font-weight: 300; margin: 14px 0;"}
          Good for $30 towards: 60-Minute Thai Foot Massage
        %p{:style => "font-size: 13px; margin:0; line-height: 1.4;"}
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis placeat animi libero, voluptatem optio praesentium molestias, rem fugit voluptates a quos, eligendi perferendis repellendus? animi libero, voluptatem optio animi libero. 
      %td{:style => "padding: 10px; background: #f0f1f4;"}
        %img{:src => "https://media.sproutsocial.com/uploads/2017/11/Social-Media-Branding.png", :alt => "",  :style => "width: 100%;"}/
        %p{:style => "margin: 7px 0; font-size: 15px; color: #000;"}
          Save a Tree
        %p{:style => "margin: 0; font-size: 12px; color: grey; margin: 0 0px 7px;"}
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat
        %table{:style => "width: 100%; margin-top: 12px;"}
          %tr
            %td{:style => "width: 50%;"}
              %a{:href => ""}
                %img{:src => "https://merseyburns.com/appstore.png", :alt => "" , :style => "width: 100%; height: 29px;"}/
            %td{:style => "width: 50%;"}
              %a{:href => "#"}
                %img{:src => "https://www.bayalarmmedical.com/wp-content/uploads/2017/02/google-play-button.png", :alt => "" , :style => "width: 100%; height: 27px;"}/

%table{:style => "font-family: 'Noto Sans KR', sans-serif; margin-top: 15px; line-height: 0; text-align: left; width: 750px;"}
  %tbody
    %tr{:style => "color: #878787;"}
      %td{:style => " vertical-align: top; width: 34.22%; padding-right: 15px;"}
        %p{:style => "font-size: 17px; font-weight: 300; color: #2a2a2a;"}
          How To Use
        %p{:style => "font-size: 11px; line-height: 1.3; margin-bottom: 5px; margin-top: 8px;"}
          1.Lorem ipsum dolor sit amet.
        %p{:style => "font-size: 11px; line-height: 1.3; margin-bottom: 5px; margin-top: 8px;"}
          2. consectetur adipisicing elit. Voluptatem vero
        %p{:style => "font-size: 11px; line-height: 1.3; margin-bottom: 5px; margin-top: 8px;"}
          3. consequatur perferendis omnis, provident dignissimos 
        %p{:style => "font-size: 11px; line-height: 1.3; margin-bottom: 5px; margin-top: 8px;"}
          4. provident dignissimos aperiam deleniti aperiam deleniti
        %P{:style => "font-size: 17px; font-weight: 300; color: #2a2a2a;     margin: 20px 0;"}
          Redeem At 
        %P{:style => "font-size: 11px; margin: 5px 0; line-height: 1;"}
          Lorem ipsum dolor sit amet
        %P{:style => "font-size: 11px; margin: 5px 0; line-height: 1;"}
          Lorem ipsum dolor sit amet
        %P{:style => "font-size: 11px; margin: 5px 0; line-height: 1;"}
          Lorem ipsum dolor sit amet
        %P{:style => "font-size: 11px; margin: 5px 0; line-height: 1;"}
          Lorem ipsum dolor sit amet


      %td{:style => " vertical-align: top; width: 34.22%; padding-right: 15px;"}
        %p{:style => "font-size: 17px; font-weight: 300; color: #2a2a2a;"}
          The Fine Print
        %p{:style => "font-size: 11px; line-height: 1.4;"}
          Rerum consectetur voluptatem libero error officiis consequatur perferendis omnis, provident dignissimos aperiam deleniti ratione vitae. Rerum consectetur voluptatem libero error officiis consequatur perferendis omnis, provident dignissimos aperiam deleniti ratione vitae. Rerum consectetur voluptatem libero error officiis consequatur perferendis omnis, provident dignissimos aperiam deleniti ratione vitae. Rerum consectetur voluptatem libero error officiis consequatur perferendis omnis, provident dignissimos aperiam deleniti ratione vitae.
      %td{:style => "width: 31.55%;"}
        %span{:style => "background: #edeff1; padding: 10px; color: #878787; vertical-align: top; display: block;"}
          %p{:style => "font-size: 12px; font-weight: 500;"}
            THE RESULT
          %p{:style => "font-size: 11px; line-height: 1.4;"}
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia ipsa corporis minus beatae
          %P{:style => "font-size: 12px; font-weight: 500; margin: 13px 0px;"}
            VALUE OF THE GROUPON VOUCHER
          %p{:style => "font-size: 11px; line-height: 1.4;"}
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum minima sunt, error rerum atque nostrum

          %P{:style => "font-size: 12px; font-weight: 500; margin: 13px 0px;"}
            REDEMPTION
          %p{:style => "font-size: 11px; line-height: 1.4;"}
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis sunt possimus, illum dolore odit amet a, qui, officia quod architecto vitae minima distinctio aliquid sed, placeat natus quam aut quos. , veritatis nisi eum repellendus beatae accusantium tempore. Ea animi nulla obcaecati laborum asperiores itaque, vitae. , veritatis nisi eum repellendus beatae accusantium tempore. Ea animi nulla obcaecati laborum asperiores itaque, vitae. , veritatis nisi eum repellendus beatae accusantium tempore. Ea animi nulla obcaecati laborum asperiores itaque, vitae. , veritatis nisi eum repellendus beatae accusantium tempore. Ea animi nulla obcaecati laborum asperiores itaque, vitae.
        %p{:style => "font-size: 12px; font-weight: 500; margin: 18px 0px; color: #000; padding: 0 10px;"}
          WE 'RE HERE TO HELP
        %table{:style => " padding: 5px 10px;"}
          %tr
            %td
              %img{:src => "http://localhost:3000/assets/email_computer.png", :alt => "img" , :style => "height: 14px; margin-right: 10px;"}/
            %td
              %a{:href => "#" , :style => "font-size: 13px; margin-bottom: 10px;"}
                Link
          %tr
            %td
              %img{:src => "http://localhost:3000/assets/small-bookmark.png", :alt => "img" , :style => "height: 14px; margin-right: 10px; transform: rotate(47deg);"}/
            %td
              %p{:style => "font-size: 13px; margin-bottom: 5px;line-height: 1;"}
                Gropupon Number
              %p{:style => "font-size: 11px;"}
                LG-5HG1-1LMT-7VS5-LBK3