.people-fluid-thumbnail-grid-container
  .people-fluid-thumbnail-grid#profile-listings-list
    %h2.people-header
      = "#{listings.count} Open Listings"
    - listings.each do |listing|
      .people-fluid-thumbnail-grid-item
        %div
          = render :partial => "layouts/grid_item_listing_image", :locals => {:listing => listing, :modifier_class => "people-listings"}

