.conversation-status
  - if @current_user.has_admin_rights?(@current_community) && __transaction_model.payment_gateway.eql?(:coupon_pay) && __transaction_model.coupon_bal_refunded == false && __transaction_model.status != "canceled"
    .status-links.links_custom
      .inbox-horizontally-aligned-link.full_width_btn
        = link_to confirmation_person_message_path(person_id: __transaction_model.starter.id, id: __transaction_model.id, 'transaction[status]' => 'canceled', give_feedback: true, full_refund: true), method: :put, class: 'cancel admin_full_refund' do
          .content
            .icon-with-text{:class => "ss-delete"}
            .text-with-icon
              Click to Cancel for full refund
              
  - get_conversation_statuses(__transaction_model, is_author).each do |status|
    - if status[:type] == :status_info
      .inbox-horizontally-aligned-status.no_padding.col-12
        = render :partial => "transactions/status/status_text", :locals => { :status_info => status[:content]}
    - else
      - if role == :participant
        .status-links.redesign_status_links
          - status[:content].each do |status_link|
            = render :partial => "transactions/status/status_link", :locals => { :conversation => __transaction_model, :status_link => status_link }

  - if __transaction_model.payment_gateway.eql?(:coupon_pay) && __transaction_model.status.eql?("paid") && @current_user == __transaction_model.seller
    .icon-with-text-container
      %i.fa.fa-ban.ban_icon{"aria-hidden" => "true"}
      .text-part
        As soon as you have fulfilled this Order/Offer and it has been Marked as Redeemed by the Buyer, the Avontage Bucks credits shall be transferred to your balance.
        
  -#Not in use
    - if __transaction_model.payment_gateway.eql?(:coupon_pay) && __transaction_model.status.eql?("paid") && @current_user == __transaction_model.buyer
      .icon-with-text-container
        .text-part.no_padding.red
          "IMPORTANT" click on Mark as Redeem as soon as Seller has fulfilled the Order and you have verified reciept.

              