@import "compass/utilities/general/clearfix";
@import "compass/css3/box-sizing";
@import "mixins/all";

.listing-details-container {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.listing-description-youtube-wrapper {
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 */
  position: relative;
  margin-bottom:lines(1);
}
.listing-description-youtube-iframe {
  width:100%;
  height:100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

// Social buttons
.listing-social {
  @include clearfix();
}

.listing-fb-like-button,
.listing-tweet-button {
  float: left;
  margin-right: 5px;
  position: relative;
}

.listing-tweet-button {
  padding-top: 4px; // Extra top padding to align with fb like button
}

// Listing price
.listing-price {
  clear: both; // Price floats to left
}

.listing-price-amount {
  @include huge-type;
  color: $light-body;
  display: block;
  float: left;
  margin-right: lines(0.25);
}

.listing-price-quantity {
  vertical-align: top;
  $hugeTypeLineHeight: lines(2);
  $hugeTypeFontSize: em($huge-type);
  $hugeTypeMargin: ($hugeTypeLineHeight - $hugeTypeFontSize) / 2; // Calculate the top margin based on the huge type
  $positionFineTune: em(2); // hugeTypeMargin calculates the correct position, but due to the different font size, some finetuning is needed
  // Use position relative, since the element is inline (no top-margin/padding should be used)
  position: relative;
  top: $hugeTypeMargin + $positionFineTune;
  color: $aside;
}

.listing-paypal-fee-info-link {
  cursor: pointer;
}

// Listing quantity input
.quantity-wrapper {
  width: 100%;
  margin-bottom: lines(0.75);
}
.quantity-label-wrapper {
  float: left;
  width: 100%;
}
.quantity-label {
  float: left;
  width: auto;
  font-weight: bold;
  padding: lines(0.35) lines(0.35) 0 0;
  margin: auto em(100) auto 0;
}
.quantity-input {
  margin-left: em(-100);
  width: em(100);
  float: left;
}
.quantity-input input{
  width: 100%;
}
.quantity-input input:focus {
  outline-width: 0;
}

// Listing author
$listing-author-avatar-width: 108;
$listing-author-avatar-height: 108;

.listing-author {
  position: relative;
}

.listing-author-avatar {
  width: em($listing-author-avatar-width);
  height: em($listing-author-avatar-height);
  position: absolute;
  top: 0;
  left: 0;

  > a {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.listing-author-avatar-image {
  @include border-radius($default-border-radius);
  display: block;
  width: 100%;
  height: 100%;
}

.listing-author-details {
  width: 100%;
  padding-left: em($listing-author-avatar-width);
  min-height: em($listing-author-avatar-height);
  padding-left: em($listing-author-avatar-width) + lines(0.75);
  margin-top: lines(0.25); // Author box looks a bit better when given a bit more room
  margin-bottom: lines(0.75); // Author box looks a bit better when given a bit more room
}

.listing-author-name {
  @include big-type;
  height: em($listing-author-avatar-width, 22) / 2;
  line-height: em($listing-author-avatar-width, 18) / 2;
}

.listing-author-name-link {
  display: block;
  @include ellipsis;
}

.listing-author-contact-button {
  @include grey-button;
  width: 100%;
}

// Listing author activity

.listing-author-activity {
  @include clearfix();
}

.listing-author-activity-icon {
  font-size: 32px;
  line-height: (em(32, 32) * 1.5);
  display: block;
  float: left;
  width: em(32, 32);
}

.listing-author-activity-item {
  float: left;
  width: lines($right-column-1-3) - 0.75em - em(32) - lines(1); // FIXME!!!
  margin-left: lines(0.5);
}

.listing-author-activity-description {
  @include small-type;
  color: $border;
}

// Map
.listing-map {
  width: 100%;
  height: lines(8);
}

.listing-view-admin-links {
  margin: lines(0.5) 0; // Some top & bottom margin to give links some space
}

.map-link {
  float: right;
  font-size: em(14);
  margin-top: 0.2em;
}

// Delivery options
.delivery-title {
  margin-bottom: 0;
}

.delivery-label {
  display: inline;
  width: auto;
  margin-left: lines(0.2);
}

.book-button {
  margin-top: 0;
  width: 100%;
  text-align: center;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}

// Transaction action button
.enabled-book-button {
  @include big-button($link);
  @extend .book-button;
}

.disabled-book-button {
  @include big-button($link);
  @extend .book-button;

  &, &:hover {
    background-color: $border;
  }
}

// Transaction action button
.book-button .content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.checkbox-option {
  &.selected {

  }
  &.not-selected {
    color: $border;
  }
}

.checkbox-option-checkmark {
  display: inline-block;
  width: 20px;
  color: $link;
}

.listings-how-paypal-works-link {
  font-size: em(14);
}
@media (max-width: 480px) {
  .checkbox-group {
    .col-4 {
      margin-bottom: 0;
    }
  }
}

.static-google-map {
  width: 100%;
}
.caps_one {
  text-transform: capitalize;
}
.custom_grid_author {
  height: auto;
  float: left;
  width: 100%;
  background: transparent;
  .custom_title {
    position: relative;
    font-weight: 900;
    font-size: 14px;
    text-transform: capitalize;
    width: 65%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 0.75em 0.50em;
  }
  .custom_parent{
      width: 54%;
    }
    .custom_price{
      width: 46%;
      text-align: right;
      span{
        display: inline;
      }
    }
  .home-fluid-thumbnail-grid-author-name {
    position: relative;
    left: 10px;
    top: 5px;
    line-height: normal;
    color: #ff2600;
  }
  .modify_price {
    background: transparent;
    color: #ff2600;
    font-weight: bold;
    top: 6px;
    padding: 0.3em 0.50em;
    .fluid-thumbnail-grid-image-quantity {
      font-size: 12px;
    }
    .fluid-thumbnail-grid-image-price {
      font-size: 12px;
    }
  }
}
@media (min-width: 48em){
  .home-fluid-thumbnail-grid-narrow .home-fluid-thumbnail-grid-item {
    width: 50%;
    padding-right: 1em;
    margin-bottom: 1em;
  }
}
@media (min-width: 63em){
  .home-fluid-thumbnail-grid-narrow .home-fluid-thumbnail-grid-item {
    width: 33.33%;
   /* width: 25%; */
  }
}
.reviews_grid {
  //float: left;
  position: relative;
  left: 5px;
  top: 5px;
  font-size: 12px;
}

.linkedin-share-button {
  display: block;
  width: 125px;
  float: left;
  @media (min-width: 320px) and (max-width: 480px) {
    display: block;
    width: 100%;
    float: left;
    margin-top: 5px;
  }
}
.around_hide {
  opacity: 0;
  a {
    width:100%;
  }
}
.twitter_button {
  position: absolute;
  display: inline-block;
  background: #4080ff;
  height: 25px;
  border-radius: 4px;
  padding: 5px 10px;
  img {
    width: 15px;
  }
  span {
    font-size: 12px;
    position: relative;
    top: -3px;
    color: #fff;
    font-weight: 600;
  }
}
.linked_in {
  position: absolute;
  display: inline-block;
  background: #4080ff;
  border-radius: 4px;
  padding: 11px 20px 8px;
  float: left;
  cursor: pointer;
  img {
    width: 17px;
    position: relative;
    top: -2px;
  }
  span {
    font-size: 14px;
    position: relative;
    top: -3px;
    color: #fff;
    font-weight: 600;
  }
}
.listing-tweet-button {
  padding-top: 0px;
  width: 125px;
}
.listing-fb-like-button {
  height: 25px;
}
.fb_share {
  background: #0259a3;
  border-radius: 4px;
  padding: 5.4px 10px;
  margin-right: 5px;
  float: left;
  cursor: pointer;
  @media(min-width: 320px) and (max-width: 768px) {
    margin-top: 0px;
    padding: 3px 8px;
    margin-bottom: 6px;
  }
  img {
    width: 14px;
    @media screen and (max-width: 767px){
      width: 12px;
    }
  }
  span {
    font-size: 13px;
    position: relative;
    top: -3px;
    color: #fff;
    font-weight: 600;
    @media screen and (max-width: 767px){
      font-size: 12px;
      position: relative;
      top: -2px;
    }
  }
}
.twitter_share {
  background: #4080ff;
  border-radius: 4px;
  padding: 5px 20px;
  margin-right: 5px;
  float: left;
  cursor: pointer;
  @media(min-width: 320px) and (max-width: 768px) {
    margin-top: 0px;
    padding: 3px 8px;
    margin-bottom: 6px;
  }
  img {
    width: 14px;
    position: relative;
    //top: -2px;
    @media screen and (max-width: 767px){
      width: 12px;
    }
  }
  span {
    font-size: 13px;
    position: relative;
    top: -2px;
    color: #fff;
    font-weight: 600;
    @media screen and (max-width: 767px){
      font-size: 12px;
    }
  }
}
.custom_contact {
  -moz-border-radius: 0.3125em;
  -webkit-border-radius: 0.3125em;
  border-radius: 0.3125em;
  text-align: center;
  cursor: pointer;
  margin: 0.75em 0;
  padding: 0 1.5em;
  padding-bottom: 4px;
  height: 2.625em;
  border: 0;
  display: table;
  line-height: 1.5em;
  width: 100%;
}
.custom_facebook_like {
  background: #4267b2;
  height: 30px;
  float: left;
  padding: 0px 10px;
  margin-right: 5px;
  border-radius: 4px;
  @media (min-width: 320px) and (max-width: 480px) {
    margin-top: 10px;
  }
  &:active {
    background: #4080ff;
  }
  &:hover {
    background: #365899;
  }
  @media screen and (max-width: 767px){
    display: none;
  }
}
.fb-like.fb_iframe_widget {
  display: block;
  height: 30px;
  float: left;
  line-height: 26px;
}

.home-fluid-thumbnail-grid-item {
  //height: 300px;
  position: relative;
  .custom-favorite {
    position: absolute;
    z-index: 1;
    right: 30px;
    top: 5px;
    a{
      svg{
       // position: absolute;
      }
    }
  }


  &.redesign_grid_item {
    .inner_grid_item {
      height: 315px;
      display: flex;
      flex-direction: column;
      box-shadow: 0 3px 6px rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, 0.0);

      @media screen and (max-width: 767px) {
        height: auto;
      }
      @media screen and (min-width: 768px) and (max-width: 992px) {
        height: 330px;
      }

      .custom_grid_author {
        display: flex;
        flex-direction: column;
        padding: 15px 10px 10px;

        .custom_title {
          width: 100%;
          padding: 0;
          white-space: initial;
          color: #666666;
          overflow: hidden;
          line-height: 20px;
          max-height: 40px;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }

        .home-fluid-thumbnail-grid-author-avatar {
          padding: 0;
          margin: 15px 0 0;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          .left_user {
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 81%;
            
            .home-fluid-thumbnail-grid-author-avatar-image {
              height: 24px;
            }
            .home-fluid-thumbnail-grid-author-name {
              position: initial;
              color: #000;
              font-weight: 600;
              margin-left: 5px;
              font-size: 12px;
            }
          }


          .offer_price {
            font-size: 14px;
            font-weight: 600;
          }
        }

        .badge_review_box {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          font-size: 12px;
          color: #3c3c3c;
          font-weight: 600;
          margin: 15px 0 0;

          .badge_img {
            height: 18px;
            margin: 0 5px 0 0;
          }

          .flex_box {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin: 0 6px 0 0;
          }
        }
      }

      .profile_show_author {
        display: none;
      }
    }
  }
}
.custom_styling{
  span{
    font-weight: 600;
    display: block;
    font-size: 18px;
    margin-top: 16px;
  }
  .padding_left{
    padding: 15px 0 0px 50px;
    @media screen and (max-width: 768px){
      padding: 0;
      padding-top: 15px;
    }
  }
}
.parent{
  span{
    font-weight: 600;
    display: block;
    font-size: 18px;
    margin-top: 16px;
  }
  .custom_padding{
    padding: 15px 0 0px 20px;
    display: flex;
    flex-direction: row;
    @media screen and (max-width: 768px){
      padding: 0;
      padding-top: 15px;
      flex-direction: column;
    }
  }
  .name_text{
    flex-grow: 1;
  }
  .profile_img{
    img{
      height: 180px;
      @media screen and (max-width: 768px){
        height: auto;
        width: 100%;
      }
    }
  }
}
.mr-0{
  margin: 0;
}
.home-fluid-thumbnail-grid-author.custom_grid_author{
  .custom_price{
    margin-top: 0px;
  }
}

@media (min-width: 48em){
  .home-fluid-thumbnail-grid-narrow .home-fluid-thumbnail-grid {
    margin-right:-0.75em;
    overflow: initial;
  } 
}
.more_btn{
  display: block;
  padding: 5px 0;
  a{

  }
}
.custom_left{
  float: left !important;
}