- url = person_message_url(@recipient, @url_params.merge({:id => @message.conversation.id.to_s})) + "#message#{@message.id.to_s}"

%tr
  %td{:align => "left"}
    %font{body_font}
      %b{:style => "font-size:21px;line-height: 1.1;"}= t("emails.new_message.has_sent_you_a_message_in_kassi", :sender => PersonViewUtils.person_display_name(@message.sender, @current_community), :receiver => PersonViewUtils.person_display_name(@recipient, @current_community))


= render :partial => "quote", :locals => { :quote => @message.content.html_safe }
= render :partial => "action_button", :locals => { :text => t("emails.new_message.view_message"), :url => url}
