.progress_bar_details
  %span= progress_title
  %span.outer_margin
    = "#{progress_percent}" +"%"
  .progress
    .bar{:style => "width: 14%"}
  %span Next
  %span
    = link_to link_text, redirect_link, class: 'next_step button'