= form.label :name_attributes, t("admin.custom_fields.index.field_hint")
- available_locales.each do |locale_name, locale_value|
  .row
    - if available_locales.size > 1
      .col-2
        = label_tag "custom_field[hint][#{locale_value}]"
    .col-8
      = text_field_tag "custom_field[hint]"