.testimonial_image {
  background: url("http://avontage.com/assets/share_review.png") no-repeat center center;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  color: white;
  height: 360px;
  width: 100%;
  position: relative;
}
.testimonial_image .comment {
  position: absolute;
  width: 80%;
  height: 100%;
  padding: 95px 60px;
  line-height: 20px;
}