/*
  ---------------------------------
  Reset margins, paddings & borders
  (except in form elements)
  ---------------------------------
*/

body, div,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre, dl, dt, dd, ol, ul, li, hr,
fieldset, form, label, legend, th, td,
article, aside, figure, footer, header, hgroup, menu, nav, section,
summary, hgroup {
  margin: 0;
  padding: 0;
  border: 0;
}

/*
  ----------------------------------------
  Reset font-sizes for often used elements
  ----------------------------------------
*/

h1, h2, h3, h4, h5, h6, small {
  font-size: 1em;
}

/*
  -----------------------------------------------------
  Consistency fixes
  adopted from http://necolas.github.com/normalize.css/
  -----------------------------------------------------
*/

html {
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  height: 100%;
  min-height: 100%;
  font-size: 100%;
  position: relative; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

svg:not(:root) {
    overflow: hidden;
}

[hidden] {
    display: none;
}

abbr[title] {
    border-bottom: 1px dotted;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

b, strong {
  font-weight: bold; }

pre {
  white-space: pre; }

pre, code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

input, textarea, button, select {
  margin: 0;
  font-size: 100%;
  line-height: normal;
  vertical-align: baseline;
  font-family: inherit; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

button[disabled],
input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a img, img {
  -ms-interpolation-mode: bicubic;
  border: 0; }

hr {
  color: transparent;
  background: none; }
.custom_balance {
  opacity: 1 !important;
  margin-left: 5px;
}
.coupan_balances {
  .coupan_title {
    font-size: 18px;
    text-transform: capitalize;
  }
  span.price {
    background: #eee;
    padding: 7px 30px;
    font-weight: 800;
    border-radius: 4px;
    font-size: 18px;
  }
  &.for_booking {
    position: relative;
    top: 10px;
    left: 30px;
    float: left;
    span.price {
      padding: 9px 30px;
      @media (min-width: 320px) and (max-width: 480px) {
        width: 100%;
        float: left;
        margin-top: 10px;
      }
    }
    @media (min-width: 320px) and (max-width: 480px) {
      left: 0px;
      float: left;
      width: 100%;
      margin-bottom: 40px;
      margin-top: 10px;
    }
  }
}
.pay_with_coupan {
  max-width: 670px;
  float: left;
  padding: 15px;
  width: 670px;
  padding-left: 0px;
  @media (min-width: 320px) and (max-width: 480px) {
    width: 100%;
  }
  @media (min-width: 480px) and (max-width: 768px) {
    width: 560px;
  }
  p {
    margin: 0 auto;
    float: left;
    margin-left: 0px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 18px;
    width: 100%;
    @media (min-width: 320px) and (max-width: 480px) {
      max-width: 100%;
      max-width: 250px;
    }
    @media (min-width: 480px) and (max-width: 768px) {
      max-width: 100%;
    }
  }
}
.devide {
  border-top: 2px solid #ccc;
  display: block;
  float: left;
  width: 100%;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 20px;
  .or {
    margin-top: -15px;
    display: block;
    background: #fff;
    width: 55px;
    margin: -14px auto;
    font-weight: 600;
  }
}
.ban_icon {
  float: left;
  transform: rotate(125deg);
}
.text-part {
  element {
    font-weight: 600;
    border: 1px solid #359235;
    padding: 5px;
    float: left;
    margin-top: 10px;
  }
  &.red {
    color: red;
  }
}
.no_padding {
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-top: 0px !important;
}

i.icon.icon-remove.icon-custom:before {
  content: "x";
  font-style: initial;
  font-weight: bold;
}

.ui-menu {
  padding-left: 0px;
  list-style: none;
  background: white;
  float: left;
  border: 1px solid rgb(195, 195, 195);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  .ui-menu-item {
    padding: 8px;
  }
}
.ui-helper-hidden-accessible {
  display: none;
}

.unread_message_reminder {
  max-width: 50px;
  text-align: center;
  padding: 4px !important;
}