/*
  ---------------------------------
  Reset margins, paddings & borders
  (except in form elements)
  ---------------------------------
*/

body, div,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre, dl, dt, dd, ol, ul, li, hr,
fieldset, form, label, legend, th, td,
article, aside, figure, footer, header, hgroup, menu, nav, section,
summary, hgroup {
  margin: 0;
  padding: 0;
  border: 0;
}

/*
  ----------------------------------------
  Reset font-sizes for often used elements
  ----------------------------------------
*/

h1, h2, h3, h4, h5, h6, small {
  font-size: 1em;
}

/*
  -----------------------------------------------------
  Consistency fixes
  adopted from http://necolas.github.com/normalize.css/
  -----------------------------------------------------
*/

html {
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  height: 100%;
  min-height: 100%;
  font-size: 100%;
  position: relative; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

svg:not(:root) {
    overflow: hidden;
}

[hidden] {
    display: none;
}

abbr[title] {
    border-bottom: 1px dotted;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

b, strong {
  font-weight: bold; }

pre {
  white-space: pre; }

pre, code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

input, textarea, button, select {
  margin: 0;
  font-size: 100%;
  line-height: normal;
  vertical-align: baseline;
  font-family: inherit; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

button[disabled],
input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a img, img {
  -ms-interpolation-mode: bicubic;
  border: 0; }

hr {
  color: transparent;
  background: none; }
.custom_balance {
  opacity: 1 !important;
  margin-left: 5px;
}
.coupan_balances {
  .coupan_title {
    font-size: 18px;
    text-transform: capitalize;
  }
  span.price {
    background: #eee;
    padding: 7px 30px;
    font-weight: 800;
    border-radius: 4px;
    font-size: 18px;
    display: inline-block;
    margin-top: 8px;
  }
  &.for_booking {
    position: relative;
    top: 10px;
    left: 30px;
    float: left;
    span.price {
      padding: 9px 30px;
      @media (min-width: 320px) and (max-width: 480px) {
        width: 100%;
        float: left;
        margin-top: 10px;
      }
    }
    @media (min-width: 320px) and (max-width: 480px) {
      left: 0px;
      float: left;
      width: 100%;
      margin-bottom: 40px;
      margin-top: 10px;
    }
  }
}
.pay_with_coupan {
  max-width: 670px;
  float: left;
  padding: 15px;
  width: 670px;
  padding-left: 0px;
  @media (min-width: 320px) and (max-width: 480px) {
    width: 100%;
  }
  @media (min-width: 480px) and (max-width: 768px) {
    width: 560px;
  }
  p {
    margin: 0 auto;
    float: left;
    margin-left: 0px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 18px;
    width: 100%;
    @media (min-width: 320px) and (max-width: 480px) {
      max-width: 100%;
      max-width: 250px;
    }
    @media (min-width: 480px) and (max-width: 768px) {
      max-width: 100%;
    }
  }
}
.devide {
  border-top: 2px solid #ccc;
  display: block;
  float: left;
  width: 100%;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 20px;
  .or {
    margin-top: -15px;
    display: block;
    background: #fff;
    width: 55px;
    margin: -14px auto;
    font-weight: 600;
  }
}
.ban_icon {
  float: left;
  transform: rotate(125deg);
}
.text-part {
  element {
    font-weight: 600;
    border: 1px solid #359235;
    padding: 5px;
    float: left;
    margin-top: 10px;
  }
  &.red {
    color: red;
  }
}
.no_padding {
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-top: 0px !important;
}

.style-for-input {
  &::placeholder {
    color: red;
    opacity: 1; /* Firefox */
  }

  &:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: red;
  }

  &::-ms-input-placeholder { /* Microsoft Edge */
   color: red;
  }
}

i.icon.icon-remove.icon-custom:before {
  content: "x";
  font-style: initial;
  font-weight: bold;
}

.ui-menu {
  padding-left: 0px;
  list-style: none;
  background: white;
  float: left;
  border: 1px solid rgb(195, 195, 195);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  .ui-menu-item {
    padding: 8px;
  }
}
.ui-helper-hidden-accessible {
  display: none;
}

.unread_message_reminder {
  max-width: 50px;
  text-align: center;
  padding: 4px !important;
}
.marketplace-lander .coverimage-fade.disbale_fade {
  background: transparent !important;
}
figure.marketplace-cover-small.fluidratio.custom_small_cover {
  background-repeat: no-repeat;
  height: 250px;
  background-position: center center;
  @media (min-width: 320px) and (max-width: 480px) {
    height: 100px;
  }
}
.marketplace-lander .marketplace-title-header.make_custom_cover_title {
  h1 {
    font-size: 3em;
    color: #fff;
    text-align: center;
    background: rgba(0, 0, 0, 0.42);
    padding: 40px;
    border-radius: 10px;
    margin-top: 25px;
    display: block;
    @media (min-width: 320px) and (max-width: 480px) {
      font-size: 20px;
      display: block;
      padding: 10px;
    }
  }
}
.home-fluid-thumbnail-grid-narrow.mobile-padding {
  @media (min-width: 320px) and (max-width: 480px) {
    //padding: 15px;
    .home-fluid-thumbnail-grid{
      margin:0 ;
    }
    .home-fluid-thumbnail-grid-item{
      padding-right: 0;
    }
  }
}
@media screen and (max-width:992px) and (min-width: 768px){
    home-fluid-thumbnail-grid{
      margin: 0;
    }
    .home-fluid-thumbnail-grid-item{
      padding-right: 0;
    }
}
.main_height {
  height: 250px;
  @media (min-width: 320px) and (max-width: 480px) {
    height: 100px;
  }
}

.mobile-view-wrapper {
  @media screen and (max-width: 767px) {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  
}

//transactions tabs scss

.custom_tabs{
  .tablink {
    background-color: #959595;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 50%;
    border-radius: 0px;
    margin: 0;
    @media screen and (max-width: 680px){
      padding: 10px 0px;
      font-size: 16px;
    }
    &.fir{
      border-radius: 7px 0px 0px 7px;
    }
    &.sec{
      border-radius: 0px 7px 7px 0px;
    }
  }

  .tablink:hover {
    background-color: #777;
  }

  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    display: none;
    padding: 100px 20px;
    height: 100%;
  }

  #transactional-tab {background-color: #fff;}
  #avon-bucks-tab {background-color: #fff;}
}

.cust_fav{
  float: right;
  z-index: 2;
  position: relative;
  top: 3px;
  right: 3px;
}

.get-started {
  &[disabled] {
    cursor: default;
    background: #ccc;
  }  
}
.linkedin_connect{
  color: white;
  display: block;
  text-shadow: 0px 0px 1px #aaaaaa;
  background: #0077b5;
  min-height: 42px;
  -moz-border-radius: 0.3125em;
  -webkit-border-radius: 0.3125em;
  border-radius: 0.3125em;
  padding: 0 10px;
  width: 100%;
  margin-bottom: 0.75em;
  margin-top: 1.25em;
  display: flex;
  align-items: center;
  img{
    height: 21px;
  }
  .linkedin_text{
    margin-left: 12px;
    color: #fff;
  }
  &:hover{
    background: #6f99bc;
  }
}

.featured_conditionally{
  padding: 10px 0;
  .coverimage{
    .fluidratio{
      height: auto !important;
    }
  }
  
  .marketplace-title-header{
    h1{
      font-size: 1.625em !important;
      color: #fff !important;
      padding: 10px !important;
      margin-top: 20px !important;
    }
  }
  .title-container{
    background: #fff;
    .make_custom_cover_title{
      h1{
        margin: 0;
        margin-top: 0 !important;
        padding: 0 !important;
        background: none;
        color: #000 !important;
      }
    }
  }
  
}
.custom_butn{
  padding: 8px !important;
  width: 100%;
}
.custom_top_title{
  display: flex;
  align-items: center;
  margin-top: -18px;
  margin-bottom: 7px;
  .top_sm_img{
    img{
      height: 55px;
      width: auto;
      border-radius: 50%;
    }
  }
  .top_sm_name{
    a{
      font-size: 15px;
      font-weight: 600;
      padding-left: 15px;
    }
  }
  .top_review{
    padding-left: 15px;
    font-size: 14px;
  }
}
