/*
  ---------------------------------
  Reset margins, paddings & borders
  (except in form elements)
  ---------------------------------
*/

body, div,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre, dl, dt, dd, ol, ul, li, hr,
fieldset, form, label, legend, th, td,
article, aside, figure, footer, header, hgroup, menu, nav, section,
summary, hgroup {
  margin: 0;
  padding: 0;
  border: 0;
}

/*
  ----------------------------------------
  Reset font-sizes for often used elements
  ----------------------------------------
*/

h1, h2, h3, h4, h5, h6, small {
  font-size: 1em;
}

/*
  -----------------------------------------------------
  Consistency fixes
  adopted from http://necolas.github.com/normalize.css/
  -----------------------------------------------------
*/

html {
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  height: 100%;
  min-height: 100%;
  font-size: 100%;
  position: relative; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

svg:not(:root) {
    overflow: hidden;
}

[hidden] {
    display: none;
}

abbr[title] {
    border-bottom: 1px dotted;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

b, strong {
  font-weight: bold; }

pre {
  white-space: pre; }

pre, code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

input, textarea, button, select {
  margin: 0;
  font-size: 100%;
  line-height: normal;
  vertical-align: baseline;
  font-family: inherit; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

button[disabled],
input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a img, img {
  -ms-interpolation-mode: bicubic;
  border: 0; }

hr {
  color: transparent;
  background: none; }
.custom_balance {
  opacity: 1 !important;
  margin-left: 5px;
}
.bucks_guarantee_data {
  position: relative;
  background-color: #e8e8e8;
  margin-bottom: 15px;
  .heart_beat {
    position: absolute;
    right: 20px;
    top: 5px;
    height: 50px;
  }
  .safety_batch {
    position: absolute;
    right: 0px;
    bottom: 0px;
    height: 70px;
  }
  .inner_data {
    font-family: 'Source Sans Pro', helvetica, sans-serif;
    padding: 15px 36px 55px 15px;
    .heading {
      font-size: 24px;
      font-weight: bolder;
      color: #000;
    }
    li {
      margin-top: 10px;
    }
  }
}
.new_coupon_work {

  &.for_booking {
    .inner_container {
      border: 2px solid #55c1c9;
      padding: 0px 15px 0px 15px;
      max-width: 100%;
      margin-bottom: 25px;
      margin-top: 15px;
      color: #171717;

      .load_balance {
        .load_button {
          margin: 0 0 0.75em;
        }
      }
    }
  }

  @media screen and (min-width: 1024px) {
    &.redesign_coupan_work {
      .inner_container {
        max-width: 100%;
        width: 100%;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .coupan_balances {
          padding: 0;
          margin: 0;
        }

        .load_balance {
          .load_button {
            margin: 0;
          }
        }
      }
    }
  }
  
}

.inner_container {
  border: 2px solid #55c1c9;
  padding: 0px 15px 0px 15px;
  max-width: 365px;
  margin-bottom: 20px;
  margin-top: 15px;
  color: #171717;
}
.button.load_button {
  background: #f0d590;
  color: #000;
  font-weight: 600;
  margin-top: 35px;
  &:hover {
    background: #f0d590;
    color: #000;
  }
}
.coupan_balances {
  display: flex;
  padding-top: 18px;
  align-items: center;

  .coupan_title {
    font-size: 17px;
    text-transform: capitalize;
    color: #171717;
  }
  span.price {
    //background: #eee;
    //padding: 7px 32px;
    color: #587834;
    font-weight: 600;
    border-radius: 4px;
    font-size: 16px;
    display: inline-block;
    margin-left: 7px;
    //margin-top: 8px;
    display: flex;
    flex-direction: row;
    img{
      height: 18px;
    }
  }
  /*
  &.for_booking {
    position: relative;
    top: 10px;
    left: 30px;
    float: left;
    span.price {
      padding: 9px 30px;
      @media (min-width: 320px) and (max-width: 480px) {
        width: 100%;
        float: left;
        margin-top: 10px;
      }
    }
    @media (min-width: 320px) and (max-width: 480px) {
      left: 0px;
      float: left;
      width: 100%;
      margin-bottom: 40px;
      margin-top: 10px;
    }
  }
  */
}

.short_a_bucks, .full_amount {
  font-size: 24px;
  font-weight: 600;
  margin: 0 0 8px;
  color: black;  
}

.full_amount{
  text-align: center;
}

.pay_with_coupan {
  //max-width: 670px;
  //float: left;
  //padding: 15px;
  //width: 670px;
  //padding-left: 0px;

  margin: 25px 0 0;

  @media (min-width: 320px) and (max-width: 480px) {
    width: 100%;
  }
  @media (min-width: 480px) and (max-width: 768px) {
    width: 560px;
  }
  p {
    margin: 0 auto;
    float: left;
    margin-left: 0px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    width: 100%;
    @media (min-width: 320px) and (max-width: 480px) {
      max-width: 100%;
      max-width: 250px;
    }
    @media (min-width: 480px) and (max-width: 768px) {
      max-width: 100%;
    }
  }
}
.devide {
  border-top: 3px solid #000;
  display: block;
  float: left;
  width: 100%;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 20px;
  @media screen and (max-width: 767px){
    margin-top: 8px;
    border-top: 2px solid #000;
  }
  .or {
    margin-top: -15px;
    display: block;
    background: #fff;
    width: 55px;
    margin: -11px auto;
    font-weight: 600;
    @media screen and (max-width: 767px){
      margin: -9px auto;
      width: 42px;
    }
  }
}
.ban_icon {
  float: left;
  transform: rotate(125deg);
}
.text-part {
  element {
    font-weight: 600;
    border: 1px solid #359235;
    padding: 5px;
    float: left;
    margin-top: 10px;
  }
  &.red {
    color: red;
  }
}
.no_padding {
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-top: 0px !important;
}

.style-for-input {
  &::placeholder {
    color: red;
    opacity: 1; /* Firefox */
  }

  &:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: red;
  }

  &::-ms-input-placeholder { /* Microsoft Edge */
   color: red;
  }
}

i.icon.icon-remove.icon-custom:before {
  content: "x";
  font-style: initial;
  font-weight: bold;
}

.ui-menu {
  padding-left: 0px;
  list-style: none;
  background: white;
  float: left;
  border: 1px solid rgb(195, 195, 195);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  .ui-menu-item {
    padding: 8px;
  }
}
.ui-helper-hidden-accessible {
  display: none;
}

.unread_message_reminder {
  max-width: 50px;
  text-align: center;
  padding: 4px !important;
}
.marketplace-lander .coverimage-fade.disbale_fade {
  background: transparent !important;
}
figure.marketplace-cover-small.fluidratio.custom_small_cover {
  background-repeat: no-repeat;
  height: 250px;
  background-position: center center;
  @media (min-width: 320px) and (max-width: 480px) {
    height: 100px;
  }
}
.marketplace-lander .marketplace-title-header.make_custom_cover_title {
  h1 {
    font-size: 3em;
    color: #fff;
    text-align: center;
    background: rgba(0, 0, 0, 0.42);
    padding: 40px;
    border-radius: 10px;
    margin-top: 25px;
    display: block;
    @media (min-width: 320px) and (max-width: 480px) {
      font-size: 20px;
      display: block;
      padding: 10px;
    }
  }
}
.home-fluid-thumbnail-grid-narrow.mobile-padding {
  @media screen and (max-width: 767px) {
    //padding: 15px;
    .home-fluid-thumbnail-grid{
      margin:0 ;
      overflow: initial;
    }
    .home-fluid-thumbnail-grid-item{
      padding-right: 0;
    }
  }

  .home-fluid-thumbnail-grid {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (max-width:992px) and (min-width: 768px){
    home-fluid-thumbnail-grid{
      margin: 0;
    }
    .home-fluid-thumbnail-grid-item{
      padding-right: 0;
    }
}
.main_height {
  height: 250px;
  @media (min-width: 320px) and (max-width: 480px) {
    height: 100px;
  }
}

.mobile-view-wrapper {
  @media screen and (max-width: 767px) {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  
}

//transactions tabs scss

.custom_tabs{
  .tablink {
    background-color: #959595;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 50%;
    border-radius: 0px;
    margin: 0;
    @media screen and (max-width: 680px){
      padding: 10px 0px;
      font-size: 16px;
    }
    &.fir{
      border-radius: 7px 0px 0px 7px;
    }
    &.sec{
      border-radius: 0px 7px 7px 0px;
    }
  }

  .tablink:hover {
    background-color: #777;
  }

  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    display: none;
    padding: 100px 20px;
    height: 100%;
  }

  #transactional-tab {background-color: #fff;}
  #avon-bucks-tab {background-color: #fff;}
}

.cust_fav{
  float: right;
  z-index: 2;
  position: relative;
  top: 3px;
  right: 3px;
}

.get-started {
  &[disabled] {
    cursor: default;
    background: #ccc;
  }  
}
.linkedin_connect{
  color: white;
  display: block;
  text-shadow: 0px 0px 1px #aaaaaa;
  background: #0077b5;
  min-height: 42px;
  -moz-border-radius: 0.3125em;
  -webkit-border-radius: 0.3125em;
  border-radius: 0.3125em;
  padding: 0 10px;
  width: 100%;
  margin-bottom: 0.75em;
  margin-top: 1.25em;
  display: flex;
  align-items: center;
  img{
    height: 21px;
  }
  .linkedin_text{
    margin-left: 12px;
    color: #fff;
  }
  &:hover{
    background: #6f99bc;
  }
}

.featured_conditionally{
  padding: 10px 0;
  .coverimage{
    .fluidratio{
      height: auto !important;
    }
  }
  
  .marketplace-title-header{
    h1{
      font-size: 1.625em !important;
      color: #fff !important;
      padding: 10px !important;
      margin-top: 20px !important;
    }
  }
  .title-container{
    background: #fff;
    .make_custom_cover_title{
      h1{
        margin: 0;
        margin-top: 0 !important;
        padding: 0 !important;
        background: none;
        color: #000 !important;
      }
    }
  }
  
}
.custom_butn{
  padding: 8px !important;
  width: 100%;
}
.custom_top_title{
  display: flex;
  align-items: center;
  margin-top: -18px;
  margin-bottom: 7px;
  .top_sm_img{
    img{
      height: 55px;
      width: auto;
      border-radius: 50%;
    }
  }
  .top_sm_name{
    a{
      font-size: 15px;
      font-weight: 600;
      padding-left: 15px;
    }
  }
  .top_review{
    padding-left: 15px;
    font-size: 14px;
  }
}
.underline{
  text-decoration: underline;
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
}
.left{
  float: none !important;
  .customiz_btn{
    width: 100%;
    display: block;
    font-weight: 600;
    img{
      height: 17px;
      display: inline-block;
      position: relative;
      top: 3px;
    }
  }
}
.paypal-button-wrapper{
  .full_butn{
    width: 100%;
    font-weight: 600;
    img{
      height: 23px;
      margin-bottom: -5px;
    }
  }
}
img.square_image {
    width: 160px;
    height: 160px;
}
.upload_image {
  position: relative;
  width: 160px;
  height: 36px;
  border: 1px solid #ccc;
  border-radius: 3px;
  text-align: center;
  font-size: 14px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-weight: 600;
  .invisible-image {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    cursor: pointer;
  }
}

.custom_reload_box {
  /*border: 1px solid #e4e4e4;*/
  border-radius: 5px;
  padding: 40px 50px;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);

  @media screen and (max-width: 767px) {
    padding: 20px 12px;
  }
  @media screen and (min-width: 768px) and (max-width: 992px) {
    padding: 30px 20px;
  }

  .reload_heading {
    font-size: 32px;
    font-weight: 600;
    margin: 0 0 16px;

    @media screen and (max-width: 767px) {
      font-size: 24px;
    }
  }

  .icon_row {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    @media screen and (max-width: 767px) {
      flex-direction: column;
      align-items: flex-start;
    }

    .logo_box {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: 0 12px 0 0;

      @media screen and (max-width: 767px) {
        margin: 0 0 20px;
      }

      .logo_img {
        height: 55px;
      }

      .logo_name {
        font-size: 20px;
        color: #f24a57;
        margin: 0 0 0 10px;
      }
    }

    .feedback_box {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .star_img {
        margin: 0 12px 0 0;
      }
      .rating_box {
        font-size: 16px;
        font-weight: 600;
        color: #474747;

        .feedback_text {
          font-size: 13px;
          color: #ccc;
          font-weight: 600;
        }
      }
    }
  }

  .balance_heading {
    font-size: 22px;
    font-weight: 600;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 16px 0;

    @media screen and (max-width: 767px) {
      font-size: 18px;
    }

    .currency_icon {
      height: 26px;
      position: relative;
      top: 3px;

      @media screen and (max-width: 767px) {
        top: initial;
      }
    }
    .currency_text {
      color: #397e3d;
    }
  }

  .amount_box {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1px solid #c3c3c3;
    padding: 35px 0;

    .amount_heading {
      font-size: 24px;
      font-weight: 600;
      margin: 0 0 20px;

      @media screen and (max-width: 767px) {
        font-size: 18px;
      }
    }

    .amount_price_row {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      @media screen and (max-width: 767px) {
        flex-wrap: wrap;
        justify-content: space-between;
      }

      [type="radio"]:checked,
      [type="radio"]:not(:checked) {
          position: absolute;
          left: -9999px;
      }
      [type="radio"]:checked + label,
      [type="radio"]:not(:checked) + label
      {
        position: relative;
        cursor: pointer;
        width: 80px;
        height: 42px;
        border: 1px solid #c3c3c3;
        margin: 0 20px 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        color: #474747;

        &:hover {
          background: #f5f5f5;
        }
        @media screen and (max-width: 767px) {
          width: 70px;
          margin: 0 0 10px;
        }
      }
      [type="radio"]:checked + label:before,
      [type="radio"]:checked + label {
        background: #f5f5f5;
      }

      .number_field_box {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        width: calc(100% - 400px);

        @media screen and (max-width: 767px) {
          width: 100%;
        }

        .currency {
          position: absolute;
          left: 13px;
          font-weight: 600;
        }
        .balance_input {
          border: 1px solid #c3c3c3;
          padding: 0 10px 0px 24px;
          font-weight: 600;

          &:focus {
            outline: none;
          }
        }
      }
      
    }
  }

  .payment_method {
    font-size: 24px;
    font-weight: 600;
    margin: 0 0 20px;

    @media screen and (max-width: 767px) {
      font-size: 18px;
    }
  }

  .earn_extra-box {
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    margin: 0 0 50px;
    font-size: 22px;
    line-height: 1.4;
    font-weight: 600;
    color: #000;

    img {
      width: 100%;
      height: auto;
    }

    .bold {
      color: #474747;
    }
    .green {
      color: #397e3d;
      font-weight: bold;
      word-spacing: 4px;
    }
    @media screen and (max-width: 767px) {
      padding: 12px;
      font-size: 16px;
    }
  }

  .form-row {
    .StripeElement {
      background-color: white;
      padding: 12px 12px !important;
      border-radius: 5px;
      border: 1px solid #c3c3c3;
      max-width: 100%;
      width: 460px;
      margin: auto;
    }

    .row.stripe-payment.mr_0 {
      width: 460px;
      margin: auto;
      max-width: 100%;

      .paypal-button-wrapper {
        padding: 0;

        .checkout-with-stripe-button {
          width: 100%;

          @media screen and (max-width: 767px) {
            margin: 0 0 12px;
          }
        }
      }
    }
  }
}


.home_toolbar_section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 0 12px;

  @media screen and (max-width: 767px) {
    flex-direction: column;
  }

  .left_section {
    width: 234px;

    @media screen and (max-width: 767px) {
      width: 100%;
      order: 2;
    }

    .offer_image {
      height: auto;
      width: 100%;
     // object-fit: cover;
      margin: 0 0 20px;

      @media screen and (max-width: 767px) {
        margin: 0 0 10px;
      }
    }

    .request-offer-image {
      height: 105px;
    }

    .gray_text_box {
      background: #e8e8e8;
      padding: 20px;
      text-align: center;
      font-size: 16px;

      .post_request_link {
        color: #ff2600;
        text-decoration: underline;
      }
    }
  }

  .right_section {
    width: calc(100% - 254px);
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 767px) {
      width: 100%;
    }

    .main_heading {
      height: 105px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #45c4cc;
      color: #fff;
      font-size: 36px;
      font-weight: 600;
      margin: 0 0 20px;

      @media screen and (max-width: 767px) {
        font-size: 24px;
        height: 60px;
      }
    }

    .jobs_box {
      display: flex;
      flex-direction: column;

      .heading_box-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 10px;

        @media screen and (max-width: 767px) {
          margin: 0 0 20px;
        }

        .heading_box {
          .jobs_heading {
            font-size: 18px;
            font-weight: 600;
            color: #3c3c3c;

            @media screen and (max-width: 767px) {
              font-size: 16px;
            }
          }
          .sub_heading {
            font-size: 14px;
            font-weight: 600;
            margin: 5px 0 0;
          }
        }
      }

      .jobs_row {
        display: inline-flex;
        flex-wrap: wrap;
        gap: 15px;

        @media screen and (max-width: 767px) {
          margin: 0 0 8px;
          gap: 6px;
        }

        a {
          text-align: center;
          width: calc(20% - 12px);

          @media screen and (max-width: 767px) {
            width: calc(20% - 5px);
          }
        }

        .jobs_image {     
          height: 120px;
          width: 120px;
          object-fit: cover;
          border-radius: 100%;
          border: 4px solid #45c4cc;
          margin: 0 0 2px;

          @media screen and (max-width: 767px) {
            height: 56px;
            width: 56px;
            margin: 0;
          }
          @media screen and (min-width: 768px) and (max-width: 992px) {
            height: 80px;
            width: 80px;
          }
        }

        .jobs_title {
          word-break: break-word;
          font-size: 16px;
          color: #464646;
          line-height: 1.2;

          @media screen and (max-width: 767px) {
            font-size: 14px;
          }
        }
      }
    }
  }
}

.requests_btn {
  margin: 0 !important;
  padding: 0 !important;
  height: 42px !important;
  width: 100%;
  display: flex !important;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 18px !important;

  @media screen and (min-width: 768px) and (max-width: 992px) {
    font-size: 12px;
  }
}


.flash-error.flash-notification {
  padding: 0 15px;
  height: 39px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .flash-icon {
    position: initial;
  }

  .flash-text {
    margin: 0 0 0 10px;
  }

  .flash_reload {
    background: #fff;
    height: 39px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
    margin: 0 0 0 12px;

    a {
      background: #f0d590;
      color: #000;
      font-weight: 600;
      height: 34px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 18px;
      border-radius: 5px;
    }
  }
}
// progress bar
.progress_bar_details {
  display: flex;
  justify-content: center;
  //margin: 20px auto;
  margin-bottom: 20px;
  padding: 25px 10px 10px 30px;
  color: #fff;
  background: #57a5b1;
  .next_step {
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 4px;
    margin-left: 10px;
    margin-top: -12px;
    background: transparent;
    margin-bottom: 0px;
    &:hover {
      background: transparent;
    }
  }
  span.outer_margin {
    margin-left: 10px;
    margin-right: 10px;
  }
  .progress {
    margin: -1px 15px 15px 20px;
    padding: 0;
    width: 50%;
    height: 18px;
    overflow: hidden;
    background: #4a9585;
    border-radius: 12px;
  }

  .bar {
    position: relative;
    float: left;
    min-width: 1%;
    height: 100%;
    background: #b6eae1;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
  }

  .percent {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    margin:0;
    font-family:tahoma,arial,helvetica;
    font-size:12px;
    color:white;
  }
}
.inline_buttons {
  display: flex;
  button {
    margin-right: 10px;
  }
}
.profile_text {
  font-size: 14px;
  font-weight: 600;
  margin: 0 auto;
}
.checkout-with-stripe-buttons {
  margin-right: 10px;
}
.cancel_payment {
  margin-right: 10px;
}
.send_button_account {
  margin-right: 10px !important;
}
.report_submit{
  margin-top: 0px !important;
}
.cancel_link {
  margin-right: 10px;
}
p.next_color {
  color: #00374a;
  font-weight: 600;
}
.enter_ein {
  color: #00374a;
}
.top_space_paypal {
  margin-top: 20px;
}
.more_frame {
  border: 1px solid #c3c3c3;
  border-radius: 5px;
  padding: 1.5em 2.25em;
}
.scroll_frame {
  width: 100%;
  overflow-x: scroll;
  .scrollable_table {
    @media (min-width: 768px) {
      width: 1080px;
    }
  }
}

.custom_sort_type {
  float: right;

  #sort_filter {
    border: none;
    background: #e8e8e8;
    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }
}

.offer_heading {
  float: right;
  font-size: 18px;
  font-weight: 600;
  color: #3c3c3c;
  margin: 17px 1% 0 0;

  @media screen and (min-width: 768px) and (max-width: 992px) {
    display: none;
  }
}

table#admin_listings.new_design {
  color: #03c4cc;
  thead {
    color: #fff;
    background: #03c4cc;
    .sort-link {
      color: #fff;
    }
  }
  td {
    border-top-left-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}


.new_offer_popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050;
  background: rgba(0, 0, 0, 0.6);

  .new_offer_popup-box {
    position: relative;
    max-width: 100%;
    width: 600px;
    background: #fff;
    border-radius: 8px;
    padding: 30px;

    @media screen and (max-width: 767px) {
      width: 96%;
      padding: 10px;
    }

    .close_popup {
      position: absolute;
      right: 20px;
      top: 20px;
      cursor: pointer;
      z-index: 10;
    }
    .inner_popup_box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .looking_good_box {
        background: #fff;
        width: 100%;
        border-radius: 8px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .will_do_latter{
          cursor: pointer;
          text-decoration: underline;
        }

        .popup_banner_img {
          @media screen and (max-width: 767px) {
            height: 190px;
          }
        }

        .popup_heading {
          margin: 0 0 10px;
          font-weight: 600;
        }
        .popup_text {
          text-align: center;
          margin: 0 0 10px;
          font-weight: 600;
        }
        .Refer_Earn_img {
          height: 100px;
          margin: 0 0 5px;

          @media screen and (max-width: 767px) {
            height: 52px;
          }
        }
      }
      .success_heading {
        font-size: 28px;
        font-weight: 600;
        margin: 10px 0 0;
      }
      .posted_text {
        font-size: 18px;
        margin: 0 0 12px;
        font-weight: 600;
      }
    }
  }
}

.edit_cell_heading {
  display: flex;
  align-items: center;

  .edit_anchor {
    display: flex;
    font-size: 16px;
    align-items: center;
    margin: 0 0 0 0px;

    img {
      height: 19px;
      margin: 0 6px 0 0;
    }
  }
}

.button.listing-search-button {
  margin: 0px;
  display: inline;
  margin-right: 0px;
}

.looking_good_popup {
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;

  @media screen and (max-width: 767px) {
    padding: 10px;
  }

  .looking_good_box {
    background: #fff;
    width: 100%;
    border-radius: 8px;
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 767px) {
      padding: 20px 10px;
    }

    .close_popup {
      position: absolute;
      right: 18px;
      top: 18px;
      cursor: pointer
    }

    .will_do_latter{
      cursor: pointer;
      text-decoration: underline;
    }

    .popup_banner_img {
      margin: 20px 0 0px;
    }
    .popup_heading {
      margin: 0 0 10px;
      font-weight: 600;
    }
    .popup_text {
      text-align: center;
      margin: 0 0 10px;
      font-weight: 600;
    }
    .Refer_Earn_img {
      height: 65px;
      margin: 0 0 5px;
    }
  }
}
.add_graphics_section{
  padding-top: 100px;
}

.graphic-upload > input {
  display: none;
}

.graphic-upload > label{
  cursor:pointer;
}

.graphics-upload-btn {
  height: 42px;
  width: 31%;
  border: 2px solid #c3c3cd;
  text-align: center;
  padding-top: 8px;
}

#apply-coupon-form{
  padding-bottom: 0px;
}

#coupon-code-error{
  color: red;
}

#coupon-code-applied{
  color: #03c4cc;
}

.social_contact_box {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 0 30px;

  &:nth-last-of-type(1) {
    margin: 0;
  }

  .social_contact_row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0 0 15px;

    &:nth-last-of-type(1) {
      margin: 0;
    }

    .social_img {
      height: 52px;
      margin: 0 15px 0 0;
    }
  }
}

.social_link_heading {
  font-weight: 600;
  text-align: center;
  margin: 0 0 18px;
}

.social_link_box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 20px;

  a {
    margin-left: 10px;
    margin-right: 10px;

    img {
      border-radius: 7px;
      height: 32px;
    }
  }
}

.platform_heading {
  font-weight: 600;
  margin: 0 0 15px;
  font-size: 18px;
  text-align: center;
}

.app_store_box {
  display: flex;
  justify-content: space-around;
  align-items: center;

  a {
    img {
      height: 54px;
      border-radius: 8px;
    }
  }
}

.read-less{
  display: none;
}

.listing_status_filter{
  width: 100%;
}

.get-started.listing_status_filter.disable-lnk{
  cursor: default;
  background: #ccc;
}

.request-heading{
  float: right;
  font-size: 25px;
  margin-right: 7px;
}
.edit_cell_heading.cell_change {
  display: block;
  span {
    margin-right: 5px;
    display: inline-block;
  }
}
.edit_cell.edit_anchor,.cancel_cell {
  cursor: pointer;
  color: #03c4cc;
  font-size: 16px;
  display: inline-block;
}
.mobile_field {
  padding: 5px;
  font-size: 16px;
}


.redesign_mobile_wrapper {
  @media screen and (max-width: 767px) {
    margin: 0 !important;
  }
}


.transaction_table_section {
  display: flex;
  flex-direction: column;
  width: 100%;

  @media screen and (max-width: 992px) {
    overflow-y: auto;
  }

  .table_head {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;

    @media screen and (max-width: 992px) {
      width: 1000px;
    }
  }

  .table_box {
    padding: 0.375em 0.75em;

    &.one {
      width: 100px;
    }
    &.two {
      width: 83px;
    }
    &.three {
      width: 87px;
    }
    &.four {
      width: 94px;
    }
    &.five {
      width: 185px;
    }
    &.six {
      width: 145px;
    }
    &.seven {
      width: 145px;
    }
    &.eight {
      width: 146px;
    }

    .listing_status_filter {
      padding: 0.375em 0;
    }
  }

  .table_body {
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 992px) {
      width: 1000px;
    }

    .table_row {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      &:nth-child(odd) {
        background-color: #e8e8e8;
        border-radius: 5px;
      }
    }
  }
}

.skip_to_nxt{
  margin-right: 10px !important;
}

.unread_message_popup_modal {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1050;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  max-width: 340px;
  width: 100%;

  .modal_box {
    max-width: 340px;
    width: 100%;
    padding: 20px 20px;
    background: #ff0000;
    //border-radius: 8px;
    position: relative;
    /* color: #fff; */
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 1px 2px rgba(0, 0, 0, 0.23);

    .close_modal {
      position: absolute;
      right: 13px;
      top: 10px;
      height: 22px;
      width: 22px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      border-radius: 100%;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 1px 2px rgba(0, 0, 0, 0.23);
      cursor: pointer;
      background: #fff;
    }

    .popup_message {
      text-align: center;
      font-size: 19px;
      font-weight: 600;
      color: #fff;

      .message_count {
        font-weight: 600;
        color: #fff;
      }
    }
  }
}

.people-bios{
  display: inline-block;
}

.listing_detail_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;

  .people-bios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    text-transform: capitalize;
  } 
}

.person-category{
  display: inline-block;
  background: #e8e8e8;
  margin-right: 10px;
  padding: 4px;
}

.following-on-trade-title {
    font-weight: 900;
}

.average-amount-title{
  font-weight: 900; 
}


.select2 {
  width: 100% !important;
}

.btn-custom{
  display: inline-block;
}

.edit-email-subject-link{
  cursor: pointer;
}

.hheading{
  display: inline-block;
}
.subject_line{
  margin-left: 10px;
  display: inline-block;
}

.select2{
    width: 100% !important;
}

.homepage_category{
  line-height: 30px;
}

.customize_btn {
  color: #fff !important;
}

.rec-list{
  margin-top: 25px;
}

.customize_carausel {
  margin: 0;
  .slick-list {
    padding: 0 0 10px;
    .slick-track {
      .slick-slide {
        margin: 0 8px;
        .redesign_grid_item {
          .inner_grid_item {
            .card-body {
              .left_user {
                justify-content: flex-start;
                @media screen and (max-width: 767px) {
                  width: initial;
                }

                .home-fluid-thumbnail-grid-author-avatar-image {
                  width: 24px;
                }
              }

              .right_price {
                .offer_price {
                  @media screen and (min-width: 768px) and (max-width: 992px) {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .slick-prev, .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 41%;
    display: block;
    width: 40px;
    height: 40px;
    margin-top: -10px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: 0;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 1px 2px rgba(0, 0, 0, .23);
    border-radius: 100%;
    background-image: asset_url('angle-arrow-down.svg');
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: center;
    transform: rotate(270deg);
    z-index: 1;
  }

  .slick-prev {
    transform: rotate(90deg);
    left: -13px;

    @media screen and (max-width: 767px) {
      left: 0;
    }
  }
  .slick-next {
    right: -13px;

    @media screen and (max-width: 767px) {
      right: 0;
    }
  }
}

.customize_rec_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.extra-margin-bottom {
  margin-bottom: 50px !important;
}
.extra-margin-top {
  margin-top: 70px !important;
}

.carasel-image {
  height: 100% !important;
}
.recommend_parent_categories {
  .col-4 {
    padding-left: 0;
  }
}

.customize_hashtags_input {
  resize: auto !important;
  height: auto !important;
  min-height: auto !important;
}

.reffered_by_section {
  .reffred_heading {
    margin: 0 0 5px;
  }
  .reffered_by_box {
    border: 2px solid #c3c3c3;
    border-radius: 4px;
    padding: 10px;
    font-size: 14px;
    font-weight: 600;

    .box_heading {
      margin: 0 0 10px;
    }

    .bottom_text_box {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      margin: 0 0 10px;

      .text_box_heading {
        width: 260px;
      }

      .custom_bottom_field {
        width: calc(100% - 260px);
        padding: 0 0 2px;
        min-height: auto;
        border: none;
        border-bottom: 2px solid #c3c3c3;
        border-radius: 0;

        &:hover, &:focus {
          outline: none
        }
        @media screen and (max-width: 767px) {
          width: 100%;
          min-height: 36px;
          border: 2px solid #c3c3c3;
          border-radius: 5px;
          margin: 5px 0 0;
          padding: 0 5px;
        }
      }
    }

    .find_us_box {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;

      .choose_field {
        width: 25%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0 10px 0 0;
        margin: 0 0 8px;

        @media screen and (max-width: 767px) {
          width: 50%;
        }
        &:nth-last-of-type(1) {
          width: 50%;

          @media screen and (max-width: 767px) {
            width: 100%;
            padding: 0;
          }

          .last_input_field {
            padding: 0 0 2px;
            min-height: auto;
            border: none;
            border-bottom: 2px solid #c3c3c3;
            border-radius: 0;

            &:hover, &:focus {
              outline: none
            }

            @media screen and (max-width: 767px) {
              min-height: 36px;
              border: 2px solid #c3c3c3;
              border-radius: 5px;
              padding: 0 5px;
            }
          }
        }

        .custom_field {
          display: flex;
          position: relative;

           input[type="radio"] {
            position: absolute;
            z-index: 1;
            height: 21px;
            width: 21px;
            opacity: 0;
            cursor: pointer;

            + label {
              display: flex;
              flex-direction: row-reverse;
              align-items: center;
              margin: 0;

              span {
                display: inline-block;
                width: 21px;
                height: 21px;
                margin: 0 6px 0 0;
                vertical-align: middle;
                cursor: pointer;
                border-radius: 2px;
                border: 1px solid #c3c3c3;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                  opacity: 0;
                  transition: all .3s ease;
                  height: 10px;
                }
              }
            }

            &:checked + label span {
              background-color: #45c4cc;
            }
            &:checked + label span img {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

.good_avontizen {
  margin: 22px 0 15px;

  h4 {
    color: #3b8142;
  }

  .sub_text {
    color: #3b8142;
    font-size: 14px;
    padding: 0 0 0 10px;
  }
}

.important_notice_box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 12px;
  font-weight: 600;

  @media screen and (max-width: 767px) {
    flex-direction: column;
    text-align: center;
  }

  .important_text {
    color: #ff0000;
    margin: 0 12px 0 0;
  }
}

.click_below_text {
  font-weight: 600;
  text-align: center;
}
.post_offer_btn {
  margin: 10px auto 0 !important;
  border-radius: 50px !important;
  font-weight: 600;
}