= render :partial => "conversations/conversation_header", locals: {other_party: conversation_other_party}
	
.centered-section-wide
	= render :partial => "transactions/details", locals: {role: role, is_author: is_author, price_break_down_locals: price_break_down_locals}

	= render :partial => "conversations/messages_and_form", locals: {role: role, message_form: message_form, message_form_action: message_form_action, messages: messages}

- if params[:new_feedback].present?
	.add_product_modal.show_modal
		.modal_box
			.modal_heading
				.close X
			.modal_body
				= render partial: "people/testimonial_share_partial", locals: {testimonial: Testimonial.find(params[:new_feedback])}

	- content_for :extra_javascript do
		:javascript
			$('.close').click(function(){
				$('.add_product_modal').removeClass('show_modal');
			});