.no_padding_default {
  padding: 0px;
}

.sub-header {
  border-bottom: 1px solid #e6e6eb;
  margin-bottom: 10px;

  .custom-search-bar {
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    @media screen and (max-width: 767px) {
      flex-direction: column;
      padding: 0 10px 10px;
    }

    .search-form {
      max-width: 100%;
      width: 59%;
      height: 40px;
      border: 2px solid #e6e6e6;
      border-radius: 10px;
      margin-top: 5px;
      margin-bottom: 5px;

      @media screen and (max-width: 767px) {
        width: 100%;
        margin-left: 0;
        border-radius: 5px;
      }
      @media screen and (min-width: 768px) and (max-width: 992px) {
        width: 42%;
      }
      @media screen and (min-width: 993px) and (max-width: 1024px) {
        width: 58%;
      }

      .style-for-input {
        width: calc(100% - 110px);
        float: left;
        border: none;
        min-height: 36px;
        font-size: 18px;
        font-weight: 600;
        padding: 0px;
        padding-left: 15px;

        &:focus {
          border: none;
          outline: none;
        }
        &::-webkit-input-placeholder {
          color: #000;
        }
        &::-moz-placeholder {
          color: #000;
        }
        &:-ms-input-placeholder {
          color: #000;
        }
        &:-moz-placeholder {
          color: #000;
        }
        @media screen and (min-width: 768px) and (max-width: 992px) {
          width: 84%;
          font-size: 12px;
        }
        @media screen and (min-width: 993px) and (max-width: 1024px) {
          width: 88%;
        }
        @media screen and (max-width: 767px) {
          width: 85%;
          font-size: 12px;
        }
      }
      .search-btn {
       //  background: #3483de;
        color: #fff;
        float: left;
        width: 110px;
        font-size: 18px;
        height: 40px;
        position: relative;
        bottom: 2px;
        left: 2px;
        border-radius: 10px;
        padding: 0px;
        margin: 0;

        @media screen and (min-width: 768px) and (max-width: 992px) {
          width: 16%;
          font-size: 14px;
        }
        @media screen and (min-width: 993px) and (max-width: 1024px) {
          width: 12%;
        }

        @media screen and (max-width: 767px) {
          position: relative;
          display: inline-block;
          margin: 0;
          padding: 0;
          width: 15%;
          height: 40px;
          border: none;
          stroke: #fff;
          cursor: pointer;
        }
        svg {
          display: none;
          @media screen and (max-width: 767px) {
            width: 16px;
            height: 16px;
            margin-top: 10px;
            display: inline-block;
          }
        }
        .text {
          display: block;
          @media screen and (max-width: 767px) {
            display: none;
          }
        }
      }
    }

    .reload_your_balance-box {
      border: 2px solid #03c4cc;
      margin: 0 5px 5px 10px;
      padding: 8px;
      border-radius: 4px;

      @media screen and (max-width: 767px) {
        width: 100%;
        margin: 5px 0 12px;
      }
      @media screen and (min-width: 768px) and (max-width: 1024px) {
        width: 200px;
        padding: 10px 5px;
      }

      .bank_balance {
        font-size: 16px;
        font-weight: 600;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        @media screen and (min-width: 768px) and (max-width: 1024px) {
          font-size: 14px;
        } 

        .balance {
          color: #3b8142;

          @media screen and (min-width: 768px) and (max-width: 1024px) {
            display: flex;
            justify-content: center;
            align-items: center;
          }

          .currency_icon {
            height: 18px;
            margin: 0 0 0 3px;
            position: relative;
            top: -2px;

            @media screen and (min-width: 768px) and (max-width: 1024px) {
              top: 0;
            }
          }
        }
      }

      .reload_blnce_btn {
        background: #f0d590;
        color: #000;
        font-weight: 600;
        margin: 20px 0 0;
        padding: 5px 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: fit-content;
        font-size: 14px;
      }
    }
  }
}
.main_head_coverphoto {
  .cover_photo {
    float: left;
    //background: asset-url('main_cover.png');
    //background: url('cover_photo.png');
    width: 100%;
    height: fit-content;
    position: relative;
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    padding-bottom: 20px;
    .main_cover_title {
      text-align: center;
      margin-top: 65px;
    //  color: #fff;
      font-weight: 700;
      font-size: 32px;
      line-height: 1.5em;
    }
    a {
      button.community_tab {
        font: normal normal 700 20px/1.4em 'open sans',sans-serif;
        border-radius: 5300px;
        transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
        //background: rgba(252, 28, 84, 1) url(https://static.parastorage.com/services/skins/2.1229.80/images/wysiwyg/core/themes/base/shiny1button_bg.png) 50% 50% repeat-x;
        border: solid rgba(0, 108, 109, 1) 0px;
        color: #fff;
        margin: 40px auto;
        &:focus {
          outline: 0;
        }
      }
      &:hover {
        text-decoration: none;
        button.community_tab {
          transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s !important;
          background-color: rgba(0, 108, 109, 1) !important;
          border-color: rgba(1, 177, 175, 1) !important;
        }
      }
    }
    .under_main_title {
      font-size: 24px;
      line-height: 1.5em;
      text-align: center;
      max-width: 24em;
      font-weight: 100;
     // color: #fff;
      margin: 0 auto;
      @media (min-width: 320px) and (max-width: 480px) {
        padding: 10px;
      }
    }
  }
  .main_wrapper {
    float: left;
    width: 100%;
    .sub_wrapper {
      max-width: 982px;
      margin: 0 auto;
    }
    .business_group {
      @media (min-width: 320px) and (max-width: 480px) {
        float: left;
        width: 100%;
        img {
          width: 100%;
        }
      }
      @media (min-width: 480px) and (max-width: 1023px) {
        display: flex;
        justify-content: center;
      }
    }
  }
  .under_cover_photo_title {
    font-family: avenir-lt-w01_35-light1475496,sans-serif;
    font-size: 24px;
    line-height: 1.5em;
    text-align: center;
    max-width: 680px;
    margin: 0 auto;
    margin-top: 45px;
    margin-bottom: 10px;
    font-weight: 600;

    @media (max-width: 767px) {
      padding-left: 5px;
      padding-right: 5px;
    }
  }
  .categories {
    @media (min-width: 768px) and (max-width: 1023px){
      margin-left: 15px;
    }
    .listing_frame {
      margin-top: 30px;
      border-width: 0px;
      border-style: solid;
      border-color: rgb(176, 169, 134);
      border-radius: 0px;
      box-shadow: rgba(0, 0, 0, 0.0980392) 0px 4px 10px 0px;
      overflow: hidden;
      transform: translateZ(0px);
      margin-right: 30px;
      transition: 0.4s ease 0s;
      &.last {
        margin-right: 0px;
      }
      &:hover {
        transform: scale3d(1.02,1.02,1);
        transition: 0.4s ease 0s;
      }
      .image_frame {
        height: 190px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      @media (min-width: 320px) and (max-width: 480px){
        margin-right: 0px;
      }
      .listing_details {
        .category_heading {
          height: 52px;
          letter-spacing: 0.03em;
          font-size: 18px;
          font-weight: bold;
          color: #577083;
          font-family: open sans,sans-serif;
          float: left;
          width: 55%;
          padding-left: 15px;
          padding-top: 2px;
          @media (min-width: 768px) and (max-width: 1023px){
            font-size: 13px;
          }
        }
        .explore_button {
          float: left;
          width: 45%;
          color: #fff;
          //background-color: rgba(252, 28, 84, 1);
          border: solid rgba(84, 84, 84, 1) 0px;
          font: normal normal normal 15px/1.4em helvetica-w01-roman,helvetica-w02-roman,helvetica-lt-w10-roman,sans-serif;
          transition: color 0.4s ease 0s;
          color: #FFFFFF;
          margin: calc(-1 * 0px) 0px 0;
          position: relative;
          white-space: nowrap;
          border-radius: 0px;
          &:focus {
            outline: 0;
          }
          &:hover {
            transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
            background-color: rgba(91, 201, 222, 1);
            border-color: transparent;
          }
          @media (min-width: 768px) and (max-width: 1023px){
            font-size: 12px;
          }
        }
        .description {
          padding-left: 15px;
          padding-top: 15px;
          margin-bottom: 30px;
          float: left;
          width: 100%;
          font-size: 15px;
          color: #515151;
          line-height: normal;
          letter-spacing: normal;
          @media (min-width: 768px) and (max-width: 1023px){
            font-size: 12px;
          }
        }
      }
    }
  }
  .under_categories {
    margin-top: 30px;
    margin: 0 auto;
    padding: 0px;
    text-align: center;
    line-height: 4;
    .more_services {
      font-size: 20px;
      text-align: center;
      font-family: avenir-lt-w01_35-light1475496,sans-serif;
      color: #FC1C54;
      text-decoration: underline;
      cursor: pointer;
      font-weight: 600;
      display: block;
      padding: 15px 0px 40px;
    }
    @media(min-width: 320px) and (max-width: 480px) {
      line-height: 30px;
      margin-top: 50px;
    }

    .explore_services {
      float: left;
      width: 100%;
      @media screen and (max-width: 767px)  {
        padding-top: 30px;
      }
      [class*=col-]:first-child {
        padding-left: 15px;
      }
      [class*=col-]:last-child {
        @media screen and (min-width: 768px) and (max-width: 1024px) {
          padding-right: 15px;
        }
      }
      .explore-service-box {
        margin-bottom: 40px;
        height: 300px;
        @media screen and (max-width: 767px) {
          margin-bottom: 30px;
          min-height: 250px;
          padding-bottom: 15px;
          box-shadow: rgba(0, 0, 0, 0.09804) 0px 4px 10px 0px;
          padding-top: 15px;
          padding-left: 10px;
          padding-right: 10px;
        }
        @media screen and (min-width: 768px) and (max-width: 1024px) {
          margin-bottom: 20px;
          height: 250px;
        }

        .explore-service-icon {
          height: 80px;
          width: 80px;
          @media screen and (min-width: 768px) and (max-width: 1024px) {
            height: 60px;
            width: 60px;
          }
        }
        .service-heading {
          font-size: 20px;
          font-weight: bold;
          color: #656c78;
          font-family: open sans,sans-serif;
          letter-spacing: -1px;
          margin-top: 15px;
          margin-bottom: 23px;
          @media screen and (max-width: 1024px) {
            font-size: 18px;
            margin-top: 10px;
            margin-bottom: 10px;
          }
        }
        .service-details {
          font-size: 16px;
          line-height: 2;
          color: #000;
          font-weight: 500;
          font-family: open sans,sans-serif;
          @media screen and (max-width: 1024px) {
            font-size: 14px;
            line-height: 1.8;
          }
        }
      }
    }

    .discover-community {
      float: left;
      width: 100%;
      margin-top: 80px;
      @media screen and (max-width: 767px) {
        margin-top: 0px;
      }
      @media screen and (min-width: 768px) and (max-width: 1024px) {
        margin-top: 30px;
      }
      [class*=col-]:first-child {
        padding-left: 15px;
      }

      [class*=col-]:last-child {
        padding-right: 15px;
      }
      .discover-heading {
        //font-family: 'Source Sans Pro',helvetica,sans-serif;
        color: #171717;
        font-size: 28px;
        line-height: 1.09091em;
        font-weight: 500;
        margin-top: 20px;
        margin-bottom: 20px;
        font-weight: 900;
      }
      .left-side {
        .discover-details {
          font-family: 'Source Sans Pro',helvetica,sans-serif;
          color: #171717;
          font-size: 16px;
          line-height: 2;
          font-family: open sans,sans-serif;
          font-weight: 500;
          text-align: left;
          padding-top: 35px;
          &.top-p {
            padding-top: 15px;
          }
          @media screen and (max-width: 767px) {
            font-size: 16px;
            padding-top: 5px;
          }
          @media screen and (min-width: 768px) and (max-width: 1024px) {
            padding-top: 25px;
            font-size: 16px;
          }
        }
        .movement_btn{
          text-align: center;
          margin: 15px 0;
          a{
            display: inline-block;
            border-radius: 25px;
            font-size: 15px;
            padding: 8px 26px;
            font-weight: 600;
          }
        }
      }
      .right-side {
        text-align: left;
        padding-left: 15px;
        @media screen and (max-width: 1024px) {
          padding-left: 0px;
        }
        .comminity-pic {
          width: 410px;
          @media screen and (max-width: 1024px) {
            width: 100%;
          }
        }
      }
    }

    .quotes-section {
      float: left;
      width: 100%;
      margin-top: 75px;
      @media screen and (max-width: 1024px) {
        margin-top: 25px;
        padding-left: 12px;
        padding-right: 12px;
      }

      .members_wrapper {
        background: #f5f6fa;
        padding: 30px 40px 20px 40px;
        float: left;
        width: 100%;
        margin-top: 20px;
        @media screen and (max-width: 768px){
          padding: 30px 0px 30px 0px;
        }
        .our-members {
          font-size: 28px;
          line-height: 1.25em;
          text-align: center;
          color: #181818;
          font-weight: 900;
          margin-bottom: 30px;
          //font-family: open sans,sans-serif;
        }

        .member-section {
          .member-box {
            float: left;
            width: 260px;
            background: #fff;
            padding: 20px 25px 25px 23px;
            min-height: 365px;
            &:nth-child(2) {
              margin-right: 60px;
              margin-left: 60px;
            }
            .inner-box {
              .testimonial-headshot {
                text-align: center;
                img {
                  border-radius: 50%;
                  width: 110px;
                  height: 110px;
                  border: 4px solid #f5f5f5;
                }
              }
              .member-detail {
                font-family: open sans,sans-serif;
                .name {
                  line-height: 1;
                  font-weight: 600;
                  font-size: 14px;
                  margin-top: 5px;
                }
                .work {
                  line-height: 1;
                  font-size: 14px;
                  color: #63bbca;
                  font-weight: 600;
                  margin-top: 5px;
                }
                .type {
                  line-height: 1;
                  margin-top: 8px;
                  font-size: 12px;
                  font-weight: 600;
                }
                .star_container{
                  line-height: 1;
                  img{
                    display: inline-block;
                    height: 15px;
                    margin-top: 10px
                  }
                }
              }
              .card-detail {
                font-size: 14px;
                color: #000;
                font-weight: 600;
                line-height: 1.7;
                margin-top: 15px;
                text-align: left;
                font-family: avenir-lt-w01_35-light1475496,sans-serif;
                padding-left: 5px;
                padding-right: 5px;
                //height: 140px;
                //overflow: hidden;
                .right_icon{
                  background: #0ca90c;
                  color: #fff;
                  font-weight: 600;
                  padding: 0 3px;
                  border-radius: 3px;
                }
              }
            }
          }
        }
      }

      .How-it-Works-wrapper {
        background: #fcfcfc;
        padding: 30px;
        float: left;
        width: 100%;
        @media screen and (max-width: 768px){
          padding: 30px 20px;
        }
        .heading-work {
          text-align: center;
          font-size: 28px;
          line-height: 1.25em;
          color: #000;
          font-weight: 600;
          margin-bottom: 35px;
          margin-top: 15px;
          //font-family: open sans,sans-serif;
        }

        .inner-work {
          padding: 50px 40px 20px 40px;
          background: #f8f8f8;
          float: left;
          width: 100%;
          @media screen and (max-width: 768px){
            padding: 50px 0px 20px 0px;
          }
          .left-side-text {
            text-align: left;
            .heading-left {
              font-size: 19px;
              line-height: 1.25em;
              color: #000;
              font-weight: bold;
              margin-bottom: 30px;
              font-family: open sans,sans-serif;
              position: relative;
              padding-left: 32px;
              margin-bottom: 13px;
              &:before {
                content: '1';
                position: absolute;
                left: 0px;
                color: #fff;
                background: #000;
                font-weight: normal;
                font-size: 14px;
                width: 20px;
                height: 20px;
                border-radius: 25px;
                display: flex;
                justify-content: center;
                align-items: center;
                top: 1px;
              }
              &.heading-left2 {
                &:before {
                  content: '2';
                }
              }
              &.heading-left3 {
                &:before {
                  content: '3';
                }
              }
            }

            .left-text {
              line-height: 1.3;
              padding-left: 33px;
              font-weight: 600;
              margin-bottom: 20px;
              //font-size: 16px;
              font-size: 14px;
              text-align: justify;
            }
            a{
              text-decoration: none;
            }
            .get-started {
              margin-left: 33px;
              height: 38px;
              width: 160px;
              padding: 0px;
              line-height: 16px;
              font-weight: 600;
              font-size: 14px;
              color: #fff;
              padding-top: 2px;
              border-radius: 25px;
            }
          }
          .right-side-img {
            .iphone-hand {
              width: 100%;
              position: relative;
              top: 42px;
            }
          }
        }

      }
      .ipad{
        @media screen and (min-width: 768px) and (max-width: 992px){
         padding: 30px 0px 20px 0px;
        }
      }
      .custom_container{
        display: flex;
        flex-direction: row;
        @media screen and (min-width: 768px) and (max-width: 992px){
          display: flex;
        }
        @media screen and(max-width: 767px){
          display: flex;
          flex-direction: column;
        }
        a{
          width: 33.33%;
          text-decoration: none;
          display: block;
          @media screen and (min-width: 320px) and (max-width: 768px){
            width: 100%;
          }
          .member-box{
            float: none !important;
            margin: 10px 20px;
            transition: transform .2s;
            @media screen and (min-width: 320px) and (max-width: 768px){
              width: auto !important;
            }
            &:hover{
              transform: scale3d(1.02, 1.02, 1);
            }
          }
        }
      }
    }
  }
  .main_wrapper_second {
    max-width: 982px;
    margin: 0 auto;
  }
  .main_frame_business {
    padding-top: 90px;
    padding-bottom: 60px;
    .listing_image {
      height: 285px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .listing_frame {
      margin-top: 30px;
    }
    .listing_description {
      padding: 25px 0px;
      h2 {
        text-align: center;
        font-size: 22px;
        font-weight: bold;
        color: #181818;
      }
      p {
        line-height: 1.55em;
        color: #181818;
        margin-top: 20px;
        font-size: 16px;
      }
    }
    .heading_market {
      font-size: 26px;
      line-height: 1.25em;
      text-align: center;
      color: #181818;
      font-weight: 900;
      margin-bottom: 30px;
    }
    .below_heading_market {
      font-size: 30px;
      line-height: 1.25em;
      text-align: center;
      font-style: normal;
      font-family: avenir-lt-w01_35-light1475496,sans-serif;
      color: #181818;
    }
  }
  .business_details {
    padding: 60px 28px;
    h2 {
      line-height: 1.25em;
      text-align: center;
      color: #181818;
      font-weight: bold;
      font: normal normal normal 32px/1.25em avenir-lt-w01_85-heavy1475544,sans-serif;
    }
    p {
      margin-top: 5px;
      margin-bottom: 25px;
      line-height: 1.55em;
      color: #181818;
      font: normal normal normal 16px/1.55em avenir-lt-w01_35-light1475496,sans-serif;
      text-align: center;
    }
    .read_more_tab {
      border: 1px solid #181818;
      border-radius: 0px;
      background: transparent;
      color: #181818;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      height: 36px;
      width: 95px;
      padding: 0px;
      font: normal normal normal 16px/1.55em avenir-lt-w01_35-light1475496,sans-serif;
      transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
      &:focus {
        outline: 0;
      }
      &:hover {
        transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
        color: #fff;
        background-color: #000;
      }
    }
  }
  .footer_bottom {
    float: left;
    width: 100%;
    margin-top: 30px;
    background-color: #7b7b7b;
    padding-top: 60px;
    padding-bottom: 20px;
    .footer_wrapper {
      max-width: 982px;
      margin: 0 auto;
    }
    .social_icons_list {
      list-style: none;
      padding-left: 0px;
      display: flex;
      justify-content: center;
      .social_icons {
        width: 39px;
        height: 39px;
        font-size: 24px;
        text-align: center;
        color: #7b7b7b;
        background: #000;
        border-radius: 50%;
        padding: 7px;
        margin: 5px;
        &:hover {
          color: #fff;
        }
      }
    }
    .footer_list {
      margin-top: 40px;
      padding-left: 0px;
      @media (min-width: 320px) and (max-width: 480px) {
        padding: 0px;
        .mobile_center {
          text-align: center;
          margin-top: 30px;
        }
      }
      .extra_div {
        margin-right: 15px;
      }
      span {
        display: block;
        font-weight: bold;
        font: normal normal normal 18px avenir-lt-w01_85-heavy1475544,sans-serif;
        color: #181818;
        text-transform: capitalize;
      }
      .top_categoris {
        padding: 0px;
        padding-left: 3px;
        margin-top: 13px;
        a {
          margin-top: 0px;
          text-transform: capitalize;
        }
      }
      a {
        display: block;
        color: #fff;
        font-family: avenir-lt-w01_35-light1475496,sans-serif;
        font-size: 14px;
        margin-top: 13px;
        text-transform: capitalize;
        &:hover {
          text-decoration: none;
          color: #181818;
        }
      }
    }
    .copyright {
      font-size:12px;
      text-align:center;
      font-family:open sans,sans-serif;
      color: #CFCFCF;
      margin-top: 50px;
      line-height: 1.4;
      float: left;
      width: 100%;
    }
    .color_15 {
      font-size:10px; line-height:1.43em; text-align:center;
      color: #181818;
      margin-top: 20px;
      float: left;
      width: 100%;
    }
  }
  .anchor_web {
    text-decoration: none;
  }
}